################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Brotli.Benchmark
/Brotli.Benchmark.Lib/bin
/Brotli.Benchmark.Lib/obj
/Brotli.Benchmark.Native.Lib/bin
/Brotli.Benchmark.Native.Lib/obj
/Brotli.Benchmark.App/bin
/Brotli.Benchmark.App/obj
